<form>
    <div class="form-row">
        <div class="col">
            {{result_form.tc(class="form-control", id="tc", value="http://website.com...................qqqqqqqqqq")}}
        </div>
        <div class="col">
            {{result_form.privacy(class="form-control", id="privacy")}}
        </div>
        <div class="col">
            {{result_form.delivery(class="form-control", id="delivery")}}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{result_form.refund(class="form-control", id="refund")}}
        </div>
        <div class="col">
            {{result_form.contacts(class="form-control", id="contacts")}}
        </div>
        <div class="col-md-auto">
            {{result_form.email(class="form-control", id="email")}}
        </div>
        <div class="col-md-auto">
            {{result_form.phone(class="form-control", id="phone")}}
        </div>
    </div>
</form>